@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08203a;
  --foreground: #c0c0c0;
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: url("../../public/cursor.png"), auto;
}
@keyframes metallic-shine {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
  }
}

.border-[--foreground] {
  border-color: #c0c0c0;
  animation: metallic-shine 3s infinite;
}


.floating-xl {
  animation: float-xl 3s ease-in-out infinite;
}

.floating-xr {
  animation: float-xr 3s ease-in-out infinite;
}

.floating-yb {
  animation: float-yb 3s ease-in-out infinite;
}

.floating-yt {
  animation: float-yt 3s ease-in-out infinite;
}

@keyframes float-xl {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float-xr {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes float-yb {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-yt {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
